<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="en-GB">
 <head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2018.0.0.379"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src='js/jquery-1.8.3.min.js'></script>
  <script type="text/javascript">
   // Update the 'nojs'/'js' class on the html node
document.documentElement.className = document.documentElement.className.replace(/\bnojs\b/g, 'js');

// Check that all required assets are uploaded and up-to-date
if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["museutils.js", "museconfig.js", "jquery.musepolyfill.bgsize.js", "webpro.js", "jquery.watch.js", "require.js", "index.css"], "outOfDate":[]};
</script>
  
  <title>Home</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/site_global.css?crc=444006867"/>
  <link rel="stylesheet" type="text/css" href="css/index.css?crc=4156777631" id="pagesheet"/>
   </head>
 <body>

  <!--HTML Widget code-->
  
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

  
  <div class="museBGSize clearfix borderbox" id="page"><!-- column -->
  <div id="qs">
    
  </div>
  <button class="submit-btn NoWrap transition rounded-corners clearfix colelem final-submit" id="u187-4" data-muse-temp-textcontainer-sizepolicy="true" data-muse-temp-textcontainer-pinning="true" type="submit" value="Submit" tabindex="2"><!-- content -->
    <div style="margin-top:-10px;height:10px;">
     <p class="final-submit">Submit</p>
    </div>
   </button>
  </div>
  <!-- Other js -->
  <script type="text/javascript">
   // Decide weather to suppress missing file error or not based on preference setting
var suppressMissingFileError = false
</script>
  <script type="text/javascript">
   window.Muse.assets.check=function(d){if(!window.Muse.assets.checked){window.Muse.assets.checked=!0;var b={},c=function(a,b){if(window.getComputedStyle){var c=window.getComputedStyle(a,null);return c&&c.getPropertyValue(b)||c&&c[b]||""}if(document.documentElement.currentStyle)return(c=a.currentStyle)&&c[b]||a.style&&a.style[b]||"";return""},a=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),
16);return 0},g=function(g){for(var f=document.getElementsByTagName("link"),h=0;h<f.length;h++)if("text/css"==f[h].type){var i=(f[h].href||"").match(/\/?css\/([\w\-]+\.css)\?crc=(\d+)/);if(!i||!i[1]||!i[2])break;b[i[1]]=i[2]}f=document.createElement("div");f.className="version";f.style.cssText="display:none; width:1px; height:1px;";document.getElementsByTagName("body")[0].appendChild(f);for(h=0;h<Muse.assets.required.length;){var i=Muse.assets.required[h],l=i.match(/([\w\-\.]+)\.(\w+)$/),k=l&&l[1]?
l[1]:null,l=l&&l[2]?l[2]:null;switch(l.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");f.className+=" "+k;k=a(c(f,"color"));l=a(c(f,"backgroundColor"));k!=0||l!=0?(Muse.assets.required.splice(h,1),"undefined"!=typeof b[i]&&(k!=b[i]>>>24||l!=(b[i]&16777215))&&Muse.assets.outOfDate.push(i)):h++;f.className="version";break;case "js":h++;break;default:throw Error("Unsupported file type: "+l);}}d?d().jquery!="1.8.3"&&Muse.assets.outOfDate.push("jquery-1.8.3.min.js"):Muse.assets.required.push("jquery-1.8.3.min.js");
f.parentNode.removeChild(f);if(Muse.assets.outOfDate.length||Muse.assets.required.length)f="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",g&&Muse.assets.outOfDate.length&&(f+="\nOut of date: "+Muse.assets.outOfDate.join(",")),g&&Muse.assets.required.length&&(f+="\nMissing: "+Muse.assets.required.join(",")),suppressMissingFileError?(f+="\nUse SuppressMissingFileError key in AppPrefs.xml to show missing file error pop up.",console.log(f)):alert(f)};location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi)?
setTimeout(function(){g(!0)},5E3):g()}};
var muse_init=function(){require.config({baseUrl:""});require(["jquery","museutils","whatinput","jquery.musepolyfill.bgsize","webpro","jquery.watch"],function(d){var $ = d;$(document).ready(function(){try{
window.Muse.assets.check($);/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.makeButtonsVisibleAfterSettingMinWidth();/* body */
Muse.Utils.initWidget('#widgetu179', ['#bp_infinity'], function(elem) { return new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu179 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
}catch(b){if(b&&"function"==typeof b.notify?b.notify():Muse.Assert.fail("Error calling selector function: "+b),false)throw b;}})})};

</script>
  <!-- RequireJS script -->
  <script src="js/require.js?crc=4157109226" type="text/javascript" async data-main="js/museconfig.js?crc=380897831" onload="if (requirejs) requirejs.onError = function(requireType, requireModule) { if (requireType && requireType.toString && requireType.toString().indexOf && 0 <= requireType.toString().indexOf('#scripterror')) window.Muse.assets.check(); }" onerror="window.Muse.assets.check();"></script>
<br>
<script src="js/quiz.js"></script>

</body>
</html>
<script>
  
var technical = [
   "Q: List the programming languages you are efficient in.",
   "Q: Write a code to create a timer using you preffered language/script",
   "Q: Differentiate between CSS and SCSS",
   "Q: What is SQL injection ? ",
   "Q: How will you give output without using the command 'printf' in C ? ",
   "Q: Write a recurring function for fibonacci series",
   "Q: What is inner join in SQL? Write an SQL query to find names of employee start with ‘A’ from table employee?",
   "Q: What is Github ?",
   "Q: write a RegEx to check if an e-mail entered is valid or not",
   "Q: Explain the difference between visibility:hidden; and display:none; ",
   "Q: Check whether a number is even or odd without using modulus operation"
];
var management = [
"Q: What are your greatest professional strengths ?",
"Q: How would your friends describe you?",
"Q: How will you convince your warden to unban PUBG ? ",
"Q: How will you approach any company or agency for sponsorship of your event?",
"Q: How will you handle conflicts between your 2 best friends",
"Q: Describe a time when you had too many to do items on your list. How did you solve the problem? ",
"Q: Suppose you need information from a coworker who is slow/lazy to respond.How will you handle the situation?",
"Q: Suppose yourself in a situation where your team member is 100% wrong.How will you convince him to your point of view? ",
"Q: Describe yourself in 3 adjectives.",
"Q: Describe a situation where you saw a problem and took steps to fix it",
"Q: What do you expect to gain from this chapter ? "
];
var editorial = [
    "Q: How will you incorporate feedback and edits into your work?",
    "Q: How will you proofread a piece of work?",
    "Q: Write a caption for Christmas in less than 30 words.",
    "Q: How is creative writing different from content writing? Can content writing be creative?",
    "Q: Write the most amazing line or quote from your all time favourite piece of literature.",
    "Q: If you were made the Editorial Head of Codechef-VIT, what new things would you start that would make a difference to the chapter?",
    "Q: Which newspaper/journal do you read regularly ?",
    "Q: Suggest a catchy tagline for your favourite chocolate.",
    "Q: Write the format for a formal letter.",
    "Q: Write a caption for an upcoming machine learning workshop ",
    "Q: Write a paragraph about why do you want to be a part of codechef-vit."
];
var design = [
    "Q: Golden ratio is said to improve the look of any piece of artwork. What is, roughly, the golden ratio?",
    "Q: Which of the following could be for choosing part(s) of an image: i)Lasso tool ii)Liquify tool iii)Magic wand tool iv)Crop tool",
    "Q: Shortcut to duplicate a layer for Photoshop is ___ (a) Ctrl+a (b) Ctrl+d (c) Ctrl+c (d) Ctrl+j",
    "Q: Which image mode is bestfor creating video graphics in Photoshop and importing them into Adobe Premiere Pro?.Why ?",
    "Q: Which softwares do you use to work with media ?",
    "Q: What qualities and skills should a good graphic designer have?",
    "Q: What brands do you most admire and how do they influence your work?",
    "Q: What have you done recently to improve your knowledge of graphic design?",
    "Q: Which of the two is better - 'late and perfect' or 'good and on-time'.Why ?",
    "Q: What is the difference between a color,hue and a shade ?"

];
 var questions=[ ];

var des = localStorage.getItem('design');
var mgt = localStorage.getItem('management');
var doc = localStorage.getItem('documentation');
var tech = localStorage.getItem('technical');

let question="";

let fn=(e, i)=>{


return `

<div class='main'>
   <div class="clearfix colelem" id="pu763"><!-- group -->
    <div class="clip_frame grpelem" id="u763"><!-- svg -->
     <img class="svg" id="u761" src="img/pasted-svg-862x60.svg?crc=3926192654" alt="" data-mu-svgfallback="img/pasted%20svg%20862x60_poster_.png?crc=4107858653" data-heightwidthratio="0.06962025316455696" data-image-width="948" data-image-height="66"/>
    </div>
    <div class="rounded-corners clearfix grpelem" id="u369-3" data-sizePolicy="fixed" data-pintopage="page_fluidx"><!-- content -->
     <p id="q${i}" style="color: #000; margin: 0px;
padding: 10px;
border-width: 0px;
border-style: solid;
border-color: transparent;
-webkit-transform-origin: left top;
-ms-transform-origin: left top;
-o-transform-origin: left top;
transform-origin: left top;
background-repeat: no-repeat;">${e}</p>
     </div>
   </div>
   <div class="clearfix colelem" id="pu772"><!-- group -->
    <div class="clip_frame grpelem" id="u772"><!-- svg -->
     <img class="svg" id="u770" src="img/pasted-svg-8625x197.svg?crc=292474429" alt="" data-mu-svgfallback="img/pasted%20svg%208625x197_poster_.png?crc=95436446" data-heightwidthratio="0.2289029535864979" data-image-width="948" data-image-height="217"/>
    </div>u3
    <form class="form-grp clearfix grpelem" id="widgetu179" method="post" enctype="multipart/form-data" action="js/form-u179.php"><!-- none box -->
     <div class="fld-grp clearfix colelem" id="widgetu182" data-required="true"><!-- none box -->
      <span class="fld-textarea actAsDiv borderbox clearfix grpelem" id="u184-4" data-muse-temp-textContainer-sizePolicy="true" data-muse-temp-textContainer-pinning="true"><!-- content --><div id="u184-3"><textarea placeholder="Write answer here" id="a${i}" class="wrapped-input" name="custom_U182" tabindex="1"></textarea><label class="wrapped-input fld-prompt" id="widgetu182_prompt" for="widgetu182_input"><span class="actAsPara"></span></label></div></span>
     </div>
     <div class="clearfix colelem" id="pu180-4"><!-- group -->
      <div class="clearfix grpelem" id="u180-4" data-muse-temp-textContainer-sizePolicy="true" data-muse-temp-textContainer-pinning="true"><!-- content -->
       <p>Submitting Form...</p>
      </div>
      <div class="clearfix grpelem" id="u181-4" data-muse-temp-textContainer-sizePolicy="true" data-muse-temp-textContainer-pinning="true"><!-- content -->
       <p>Form received.</p>
      </div>
      <div class="clearfix grpelem" id="u186-4" data-muse-temp-textContainer-sizePolicy="true" data-muse-temp-textContainer-pinning="true"><!-- content -->
       <p>The server encountered an error.</p>
      </div>
     </div>
    </form>
   </div>
   <div class="size_fixed colelem" id="u235" data-sizePolicy="fixed" data-pintopage="page_fluidx"><!-- custom html -->
    
<div class="fb-like" data-href="http://www.facebook.com/codechefvituniversity" data-send="false" data-width="281" data-show-faces="false" data-colorscheme="light" data-layout="standard" data-action="like"></div>

   </div>
   <div class="verticalspacer" data-offset-top="735" data-content-above-spacer="735" data-content-below-spacer="61" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
`

}

 $("#qs").html('');

if(tech=="true")
{
  technical.forEach((e, i)=>{
    $("#qs").append(fn(e, i));
  })
}

if(mgt=="true")
{
  management.forEach((e, i)=>{
    $("#qs").append(fn(e, i));
  })
}

if(des=="true")
{
  design.forEach((e, i)=>{
    $("#qs").append(fn(e, i));
  })
}

if(doc=="true")
{
  editorial.forEach((e, i)=>{
    $("#qs").append(fn(e, i));
  })
}


</script>

 
 