<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Codechef VIT Recruitments</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="css/magnific-popup.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./img/4.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->


		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<img src="img/CC_white.png" alt="" width="350px" height="auto" class="logo" /><br><br>
							<h2 class="white-text">CORE COMMITTEE SELECTIONS</h2>
							<h3 class="white-text">BE A PART OF CODECHEF VIT
							</h3>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our Domains</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-code-fork"></i>
						<h3 class="responsive">Technical</h3>
						<p class="responsive">Web development. Android Development. Machine learning</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-comments-o"></i>
						<h3 class="responsive">Management</h3>
						<p class="responsive">Event Management and planning. Sponsorships</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-laptop"></i>
						<h3 class="responsive">Design</h3>
						<p class="responsive">Graphic Designing. Adobe Photoshop. Adobe Illustrator.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-video-camera"></i>
						<h3 class="responsive">Video Editing</h3>
						<p class="responsive">Adobe After Effects. Adobe Premiere Pro</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-upload"></i>
						<h3 class="responsive">Projects</h3>
						<p class="responsive">Research and Projects in different domains</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-pencil"></i>
						<h3 class="responsive">Documentation</h3>
						<p class="responsive">Editorial. Event Reports. Creative Writing.</p>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->


	<!-- Numbers -->
	<div id="features" class="section sm-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./img/background1.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title" style="color: #fbfbfb">About Codechef</h2>
					</div>
					<p class="responsive" style="text-align: justify;color: #bbb">CodeChef is a not-for-profit educational initiative by Directi, an Indian software company. It is a global programming community that fosters learning and friendly competition, built on top of the world’s largest competitive programming platform. We have also built a large community of problem curators.</p>

					<p class="responsive" style="text-align: justify;color: #bbb">CodeChef was created as a platform to help programmers make it big in the world of algorithms, computer programming and programming contests. Apart from this, the platform is open to the entire programming community to host their own contests. Major institutions and organizations across the globe use our platform to host their contests. </p>				
					
					
				</div>
				<!-- /why choose us content -->
				
				<!-- About slider -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title" style="color: #fbfbfb">About Codechef-VIT</h2>
					</div>
					<p class="responsive" style="text-align: justify;color: #bbb"> In Vellore Institute of Technology, CodeChef is a technical chapter
								that helps students all over the campus to improve their coding
								skills. The main objective is to provide the students a platform
								where they can learn, share and test their knowledge. CodeChef-VIT
								keeps conducting several workshops and events in order to
								help the students do the same.</p>
					<p class="responsive" style="text-align: justify;color: #bbb"> It all started from the academic year 2015-1016 when CodeChef –
								A Directi Educational Initiative was inaugurated in VIT University
								with Arpit Shringi as President, Raghav Arora as Vice-President
								and Rishabh Chaddha as Joint Secretary with Prof. Murali S. as
								the faculty co-ordinator.</p>	
				</div>
				<!-- /About slider -->
				

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Numbers -->


	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container1 ">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Provide us with your details.</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4"></div>
				<div class="col-sm-2">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h4>Phone</h4>
						<p>+91 91597 77893</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-2">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h4>Email</h4>
						<p>codechef@vit.ac.in</p>
					</div>
				</div>
				<div class="col-sm-4"></div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form" action="/record" method="post">
						<input type="text" class="input" name="name" placeholder="Name">
						<input type="text" class="input" name="regno" placeholder="Registration Number">
						<input type="email" class="input" name="email" placeholder="Your VIT Email ID">
						<input type="text" class="input" name="phno" placeholder="Your Whatsapp Number">
						<input type="text" class="input" name="block" placeholder="Block and Room number">
						<select name="gender" style="width:100%">
							<option>Gender</option>
							<option>Male</option>
							<option>Female</option>
							<option>I'd rather not say</option>
						</select>
						<input type="submit" id="submit" value="Submit" class="main-btn">
					</form>
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->


	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="index.html"><img src="img/CC_white.png" alt="logo"></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="https://www.facebook.com/codechefvituniversity/" style="background-color: #777;border-radius: 20px;"><i class="fa fa-facebook" style="font-size: 24px;"></i></a></li>
						<li><a href="https://www.instagram.com/codechefvit/" style="background-color: #777;border-radius: 20px;"><i class="fa fa-instagram" style="font-size: 24px;"></i></a></li>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p style="font-size: 12px;">Copyright © 2018. All Rights Reserved.<br>
						 Designed by Techincal Team of Codechef VIT.</a></p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/angad.js"></script>

</body>

</html>
