<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Codechef VIT Recruitments</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/default.css" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.ico"> 
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>
	</div>
	<!-- Header area -->
	<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<div class="logo">
				<img src="img/CC_white.png" alt="" width="350px" height="auto" />
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<div>
							<H2>BE A PART OF CODECHEF VIT</H2><br>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
		</header>
	</div>
	
	<section id="about" class="section" style="background-color:#fff">
		<div class="container">
			<h4>Who We Are</h4>
			<div class="row">
				<div class="span4 offset1">
					<div>
						<p> In Vellore Institute of Technology, CodeChef is a technical chapter
								that helps students all over the campus to improve their coding
								skills. The main objective is to provide the students a platform
								where they can learn, share and test their knowledge. CodeChef-VIT
								keeps conducting several workshops and events in order to
								help the students do the same.</p>
						<p> It all started from the academic year 2015-1016 when CodeChef –
								A Directi Educational Initiative was inaugurated in VIT University
								with Arpit Shringi as President, Raghav Arora as Vice-President
								and Rishabh Chaddha as Joint Secretary with Prof. Murali S. as
								the faculty co-ordinator.</p>					
					</div>
				</div>
			
				<div class="span6">
					<div class="aligncenter">
						<img src="img/icons/creativity.png" alt="" />
					</div>
				</div>
				</div>
		</div>

	</section>

	<section id="services" class="section " style="background-color:#fffde9;">
		<div class="container">
			<h4>Our Events</h4>
			<!-- Four columns -->
			<div class="row">
			  <div class="column">
			    <div class="card">
			      <img src="img/cook4.jpg" alt="Jane" style="width:100%;margin-bottom: 10px;">
			        <h2>Cook Off-4.0</h2>
			        <p>Codechef VIT's annual Competition Cook Off is a platform for computer geeks to test their skills in competitive coding.</p>
			    </div>
			  </div>

			  <div class="column">
			    <div class="card">
			      <img src="img/blockchain.png" alt="Mike" style="width:100%;margin-bottom: 10px;">
			        <h2>Blockchain Fundamentals</h2>
			        <p>Codechef-VIT conducted a workshop dealing with the theory & programming logic behind Blockchains. </p>
			    </div>
			  </div>

			  <div class="column">
			    <div class="card">
			      <img src="img/404.jpg" alt="John" style="width:100%;margin-bottom: 10px;">
			        <h2>404 Not Found</h2>
			        <p>Webathon Conducted by Codechef VIT where people’s ideas on certain domains were be judged by a panel.</p>			        
			    </div>
			  </div>

			   <div class="column">
			    <div class="card">
			      <img src="img/data.jpg" alt="John" style="width:100%;margin-bottom: 10px;">
			        <h2>Data Analytics using ML</h2>
			        <p>Workshop on Data Analytics, in which participants learnt how to analyse and visualize huge sets of data using Python. </p>
			    </div>
			  </div>
		</div>
		</div>
	</section>
	<!-- section: contact -->
	<section id="contact" class="section green" style="background-color: #f3caab">
		<div class="container">
			<h4 style="color: #444">Provide Us with your details</h4>
			
			<div class="row">
				<div class="span12">
					<div class="cform" id="contact-form">
						<form action="/record" method="post" role="form" class="contactForm">
							<div class="row">
								<div class="span2"></div>
								<div class="span4">
									<div class="field form-group">
										<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required />
										
									</div>
									<div class="field form-group">
										<input type="text" class="form-control" name="regno" id="Registration" placeholder="Registration number" required />
									
									</div>
									<div class="field form-group">
										<input type="text" class="form-control" name="room" id="Block" placeholder="Your Block and Room number" required />
									
									</div>
									
								</div>
								<div class="span4">
									<div class="field form-group">
										<input type="text" class="form-control" name="email" id="email" placeholder=" VIT Email Address" required />
										
									</div>
									<div class="field form-group">
										<input type="text" class="form-control" name="phone" id="phno" placeholder="Your Whatsapp Number" required />
										
									</div>
									<div class="field form-group">
										<select>
											<option>Gender</option>
											<option>Male</option>
											<option>Female</option>
										</select>
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="span4"></div>
								<div class="span4">
									<input type="submit" value="NEXT" class="btn btn-theme pull-left" style="width: 100%">
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- ./span12 -->
			</div>
		</div>
	</section>
	
	<footer>
		
		<div style="text-align: center;">
			<ul class="social-networks">
				<li><a href="https://www.instagram.com/codechefvit/"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
				<li><a href="https://www.facebook.com/codechefvituniversity/"><i class="icon-circled icon-bgdark icon-facebook icon-2x"></i></a></li>
			</ul>
			<p>
				&copy; Codechef-VIT | All rights reserved.
				<div >
					Designed by Technical Team of Codechef-VIT</a>
				</div>
			</p>
		</div>

	</footer>
		<!-- ./container -->


	</footer>
	<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
	<script src="js/jquery.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/jquery.localScroll.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/inview.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/angad.js"></script>

	<script src="contactform/contactform.js"></script>


</body>

</html>
